<h1>Homepage#index</h1>
<p>Find me in app/views/homepage/index.html.erb</p>

<p>If they dont have a photo(?) take them to create new photo path, otherwise dw straight to feed</p>

<%= link_to 'New Photo', new_photo_path %>
