@import "bootstrap";

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.maps {
  width: 50%;
  height: 300px;
}

ul {
  padding-left: 0px;
  list-style: none;
}

.nav {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 999;
}

.nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.messages-list {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

.message-sent {
  position: relative;
  background-color: #D9EDF7;
  border-color: #BCE8F1;
  margin: 5px 20px;
  padding: 10px;
  float: right;
}

.message-received {
  background-color: #F1F0F0;
  border-color: #EEEEEE;
  margin: 5px 20px;
  padding: 10px;
  float: left;
}

.card-body {
  text-align: center;
}

.container-width {
  margin: 1% 10%;
  border-style: solid;
  border-color: black;
}

.panel-heading {
  text-align:center;
}

.panel-body {
  text-align: center;
}

.left-col {
  border-left-style: dotted;
  border-color: black;
}

.go-middle {
  text-align: center;
}

.go-right {
  text-align: right;
  margin: 2% 5%;
}

.underline {
  text-decoration: underline;
}

.fish {
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

.padding-top {
  padding: 100px 0;
}
